name: Build LaTeX Document
on: [push]

permissions:
  contents: write
  
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: compile latex
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex

      - name: deploy as GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
          target-folder: .
          single-commit: true
          clean: true
